*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.contaoner{
   height: 100vh;
   width: 100vw;
   background: linear-gradient(to right, rgb(231, 46, 46), rgb(73, 73, 203));
   transform: skewY(10deg);
   box-shadow: 10px -10px 10px rgb(97, 89, 89) , -10px 10px 10px rgb(108, 94, 94);
   margin: 0;
   /* position: absolute; */
   z-index: -1;
}
.rotate{
    height: 75vh;
    width: 80vw;
    background: linear-gradient(to right, rgb(66, 66, 145), rgb(239, 122, 49));
    position: absolute;
    margin-left: 100px;
    margin-top: 115px;
    transform: skewY(-10deg);
    z-index: 1;
    box-shadow: 5px -5px 10px rgb(14, 13, 13) , -5px 5px 10px rgb(8, 6, 6);
    display: flex;
    justify-content: start;
    gap: 270px;

}
.para{
    height: 300px;
    width: 500px;
    padding: 40px;
   color: white;
}
.para h1{
    margin: 10px;
}
.para p{
    font-size: 20px;

}
.shoe1 img:hover{
    transform: scale(1.7);
}

